.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

* {
  border: border-box;
}

div {
  border: 1px solid red;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  border: 1px solid red;
  background: #f2f2f2;
  margin: 0;
  padding-left: 64px;
  position: relative;
  display: flex;
}

.header__title {
  border: 1px solid red;
  padding: 0;
  width: 730px;
  align-self: center;
  margin: 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  border: 1px solid red;
  text-decoration: none;
  color: #2f80ed;
}

.header__main-ilustration {
  margin: 0;
  padding: 0;
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  margin: 0;
  padding: 0;
  width: 568px;
  height: 568px;
  background: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.logo {
  margin: 0;
  padding: 0;
  width: 228px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

/* ---------Выше расположены стили для header--------- */

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* ---------Ниже расположены стили для блока description--------- */

.content {
  margin: 0;
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.description__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* ---------Ниже расположены стили для блока digits--------- */

.digits {
  border: 1px solid green;
  margin: 0;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

/* .section-title {
  border: 1px solid green;
} */

.digits__section-title_style {
  border: 1px solid green;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

/* .section-subtitle {
  border: 1px solid green;
} */

.digits__section-subtitle_style {
  border: 1px solid green;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0;
  text-align: center;
}

.digits__table_style {
  border: 1px solid green;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.digits__table_heading_style {
  border: 1px solid green;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

.digits__table_text_style {
  border: 1px solid green;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}

/* ---------Ниже расположены стили для блока feynman--------- */

.feynman {
  border: 1px solid blue;
  margin: 0;
  padding-top: 100px;
  height: 890px;
  background: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
}

.feynman__title {
  border: 1px solid blue;
  margin: 0 auto 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  border: 1px solid blue;
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  display: inline-block;
  z-index: 1;
}

.feynman__link {
  border: 1px solid blue;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__photo {
  border: 1px solid blue;
  position: absolute;
  left: 0;
  bottom: 0;
}
